# Node
node_modules/
dist/

# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build
build/

# Python cache
.pytest_cache/

# Database
*.db

frontend-1/
yolo-service/venv/
yolo-service/__pycache__/
yolo-service/runs/
yolo-service/*.pyc
backend/.env