node_modules/
dist/
.env

backend/.env
backend/node_modules/

frontend-1/.env
frontend-1/node_modules/
frontend-1/dist/

yolo-service/venv/
yolo-service/__pycache__/
yolo-service/runs/
yolo-service/*.pyc